.formCreateBook{
    input{
        border:1px solid #aaa;
        &:focus{
            border: solid black 1px;
        }
    }

    select{
        border:1px solid #aaa;
        &:focus{
            border: solid black 1px;
        }
    }

    textarea{
        border:1px solid #aaa;
        &:focus{
            border: solid black 1px;
        }
    }
}

.dashboardTitle_container{
    input{
        width: 100% !important;
    }
}

.dashboardAutoresTemas_container{
    .select2-selection--multiple {
        height: 35px;
    }
}