.none-carousel{
    display: none;
}

.carousel{
    color: white;
    width: 90%;
    margin: 19px auto;
    min-height: 200px;
}
    .title-of-carousel{
        width: max-content;
        border: 2px solid #D5E5E3;
        border-radius: 5px;
        box-shadow: 0px 3px 6px #00000080;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 16px;
    }

    .glide ul.glide__slides{
        position:relative;
        padding-top: 13px;
        margin: 0px;
    }
    .div-slide{
        width: 100%;
    }
        
        .div-slide .image{
            width: 100%;
            margin-bottom: 16px;
        }
        .div-slide .title-of-content{
            height: 50px;
            width: 100%;
        }
        .div-slide .title-of-content p{
            width: 100%;
            overflow: hidden;
            font-size: 14px;
        }
        


.glide .glide__slide img{
    transition: 0.3s linear;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
}
    .glide .glide__slide img:hover{
        transform: scale(1.2);
    }



.glide__arrow{
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
    .glide__arrow svg{
        width: 21px;
        fill: #D5E5E3;
    }

    .glide .glide__arrow--left{
        left: -4% !important;
        top: 37% !important;
    }

    .glide .glide__arrow--right{
        right: -4% !important;
        top: 37% !important;
    }


.imagen-carousel{
    width: auto;
}

.carousel-of-advertisement .image img{
    object-fit: cover;
    min-height: 344px;
}

<<<<<<< HEAD
=======
select {
    background-color: #91091F;
    color: white;
    border-radius: 5px;
    border-color: white;
    padding: unset;
    max-width: 4em;
    font-size: 0.9em;
}
>>>>>>> 70de49bdf6a78e2edeeead76250903de069075d6


@media (max-width: 1024px){
    .glide .glide__arrows{
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 6px;
    }
        .glide .glide__arrow{
            all:unset;
            position: static;
            display: block;
        }
            .glide .glide__arrow svg {
                margin: 0 55.5px;
            }

    .carousel-of-advertisement .image img{
        object-fit: cover;
        min-height: 150px;
    }
}

@media (min-width: 3201px){
    .glide .glide__slide img{
        min-height: 300px;
        max-height: 300px;
    }
}

@media (min-width: 2300px) and (max-width: 3200px){
    .glide .glide__slide img{
        min-height: 280px;
        max-height: 280px;
    }
}

@media (min-width:1366px) and (max-width:1540px){
    .glide .glide__slide img{
        min-height: 160px;
        max-height: 160px;
    }
}

@media (min-width:1281px) and (max-width:1366px){
    .carousel{
        width: 78.9%;
    }
    .glide .glide__slide img{
        min-height: 126px;
        max-height: 126px;
    }
}

@media (min-width:1025px) and (max-width:1280px){
    .glide .glide__slide img{
        min-height: 134px;
        max-height: 134px;
    }
}

@media (max-width:1024px){
    .carousel{
        width: 100%;
        margin: 15px auto;
    }
    .title-of-carousel{
        margin-left: 28px;
    }
}
@media (min-width: 767px) and (max-width: 1024px){
    .glide .glide__slide img{
            min-height: 200px;
            max-height: 200px;
        }
}

@media (max-width: 428px){
    .glide .glide__slide img{
        min-height: 170px;
        max-height: 170px;
    }
}

@media (max-width: 380px){
    .glide .glide__slide img{
        min-height: 115px;
        max-height: 115px;
    }
}