.none-carousel{
    display: none;
}

.carousel{
    color: white;
    width: 86.4%;
    margin: 19px auto;
    min-height: 200px;
}
    .title-of-carousel{
        width: max-content;
        border: 1px solid #D5E5E3;
        border-radius: 5px;
        box-shadow: 0px 3px 6px #00000080;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 16px;
        margin-left: 28px;
    }

    .glide ul.glide__slides{
        position:relative;
        padding-top: 13px;
        margin: 0px;
    }
    .div-slide{
        width: 100%;
    }
        
        .div-slide .image{
            width: 100%;
            margin-bottom: 16px;
        }
        .div-slide .title-of-content{
            height: 50px;
            width: 100%;
        }
        .div-slide .title-of-content p{
            width: 100%;
            overflow: hidden;
            font-size: 14px;
        }
        


.glide .glide__slide img{
    transition: 0.3s linear;
    width: 100%;
}
    .glide .glide__slide img:hover{
        transform: scale(1.2);
    }



.glide__arrow{
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}
    .glide__arrow svg{
        width: 15px;
        fill: #D5E5E3;
        font-weight: bold;
        margin: 15px;
    }

    .glide .glide__arrow--left{
        left: -7% !important;
    }

    .glide .glide__arrow--right{
        right: -7% !important;
    }


.imagen-carousel{
    width: auto;
    height: 175px;
}

.carousel-of-advertisement .image img{
    object-fit: cover;
    min-height: 150px;
}

select {
    background-color: #91091F;
    color: white;
    border-radius: 5px;
    border-color: white;
}

@media (max-width:1024px){
    .glide .glide__arrows{
        display: flex;
        height: 32px;
        justify-content: center;
        padding: 6px;
    }
        .glide .glide__arrow{
            all:unset;
            position: static;
            display: block;
        }
            .glide .glide__arrow svg {
                margin: 0 55.5px;
            }
    .carousel{
        width: 100%;
        margin: 15px auto;
    }
}

@media (max-width: 330px) {
    .carousel {
        width: 100%;
        padding-top: 20px;
    }

    .div-slide .image{
        width: 88px;
        margin-bottom: 16px;
        margin-right: 10px;
        height: 175px;
    }

}

@media (max-width: 600px) {

    .glide__slide {
        width: 100px !important;
    }

}
