/* Footer */
footer{
    width:100%;
    min-height:85px;
    background: #111214 0% 0% no-repeat padding-box;
    opacity:1;
    color:white;
}

.redes-sociales .img-red-social{
    width: 29px;
    margin: 0 5px;
    border-radius: 100%;
}
    
.foot{
    min-height: inherit;
    align-items: center;
}
.direction-contact, .logo-footer, .redes-sociales{
        padding: 10px;
        margin: auto;
    }
/*  */

@media (max-width:330px){
    footer .foot {
        flex-direction: row !important;
        align-items: flex-end;
        font-size: 12px;

    }

    .direction-contact {
        align-items: flex-start !important;
    }
}
@media (max-width:568px){
    footer .foot{
        flex-direction: column;
    }

    .logo-footer{
        order: -1;
        width: 100%;
    }
    .redes-sociales{
        width: 100%;
        flex-direction: row;
    }
    .direction-contact{
        width: 100%;
        /* align-items: center !important; */
    }
    .direction-contact div{
        flex-direction: row;
    }

    #footer, .logo-footer {
        margin-left: 8px;
    }
}
@media (min-width:750px){
    footer {
        display: flex;
        flex-direction: row;
    }
    .logo-footer {
        width: 33%;
    }
    #footer {
        width: 66%;
    }
}

@media (max-width:1024px){
    footer{
        font-size: 13px;
    }
    .direction-contact{
        flex-direction: column-reverse;
        align-items: start;
    }
    .direction{
        margin: 0;
    }
}