@import 'nav-bar-layout-app.css';
@import 'footer-layout-app.css';
@import './imgs.css';
@import './tags.css';

*{
    font-family: 'Red Hat Text', sans-serif;
}
body{
    background-color: #383E56;
}

.content-main{
    min-height:calc(100vh - 77px - 85px);
}

.pagination{
    margin: 10px 24px;
}

.pagination p.text-gray-700{
    color: white;
}
@media(max-width:1024px)
{
    .pagination nav div.hidden{
        flex-direction: column;
    }
}

@media(max-width:1024px){
    .content-main{
        min-height:calc(100vh - 65px - 85px);
    }
}

