.max-results {
    margin: 3.5em 1.2em 0.2em 1.2em;
    display: flex;
    flex-direction: row;
    max-width: inherit;
    flex-wrap: wrap;
    border: 2px solid #97AFAC;
    border-radius: 10px;
    opacity: 1;
    padding: 3.5em 1em 2em 1em;
    position: relative;
    top: -5em;
    z-index: -1;
    justify-content: center;
}


.img-results img {
    width: 5.5em;
    height: 7.5em;
    margin-right: 0.7em;
    margin-top: 0.7em;
}

.img-results p{
    color:  #D5E5E3;
    opacity: 1;
    width: 9.65em;
    font-size: 0.6em;
    padding-top: 7px;
    line-height: 12px;
}

.title-search {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 0.8em;
    font-size: 14px;
}

.title-search h3 {
    display: contents;
    color:  #D5E5E3;
    opacity: 1;
}

.title-search span {
    font-size: 0.8em;
}

.title-search strong {
    margin-left: 0.3em;
}

.total-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width:500px) {
    .max-results {
        border: none;
        margin: 3.5em 0em 2em 0em;
        padding: 3.5em 0em 2em 0em;
    }
    .max-results .title-search {
        padding: 0em 1.1em 0em 1.1em;
    }   
}

@media (min-width:500px) {
    .title-search {
        justify-content: center;
    }

    .tags {
        margin-left: 0px;
    }

    #tag-svg:first-child {
        margin-left: 0px;
    }
    .title-search {
        font-size: 18px;   
    }
}

@media (min-width:850px) {
    .title-search .tags {
        width: auto;
    }
    .title-search {
        display: grid;
    }
}
