#tags {
    margin: 20px auto;
    text-align: center;
}

.content {
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.quantity {
    padding: 3px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.content, .quantity {
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    margin-left: 1em;
}

#tag-svg {
    height: 1.2em;
    margin-left: 0.7em;
    margin-top: 0.5em;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-left: 1em;
    flex-wrap: wrap;
}