.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #D5E5E3;
    margin: 0px;
}

.number-pag {
    display: flex;
    flex-direction: row;
}

.number-pag svg {
    height: 2em;
    width: 1em;
    fill: #D5E5E3;
}